.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/rota_terror/FileContentIndex/c070bafc-ef83-4745-9b8e-a991c94f69d4.vsidx
.vs/rota_terror/v17/DocumentLayout.json
.vs/rota_terror/v17/.wsuo
